@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

body {
    background-color: #111;
    color: white;
    font-family: "VT323", monospace;;
    padding: 20px;
}

/*For screenreaders*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/*Title page styling*/
.title-area{
    margin: 0 auto;
    width: 700px;
    height: 600px;
    background: black;
    overflow: hidden;
    margin-top: 50px;
    position: relative;
    text-transform: uppercase;
    animation: textShadow 4s infinite;
    text-shadow: 0 0 5px #c8c8c8;
    text-align: center;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.title-area h1 {
    font-size: 50px;
    color: white;
    line-height: 0;
}
.start-button {
    display: block;
    margin: 20px auto;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    font-family: "VT323", monospace;
}

/*Animation Toggle styling*/
.toggleQuestion {
    color: white;
    font-size: 20px;
}

/* Styling for the toggle container */
.toggleContainer {
    position: relative;
    display: grid; /* Using CSS grid for layout */
    grid-template-columns: repeat(2, 1fr); /* Creating two columns of equal width */
    width: fit-content; /* Adjusting width to fit content */
    border: 3px solid #343434; /* Adding border */
    border-radius: 20px; /* Adding border radius */
    background: #343434; /* Background color */
    font-weight: bold; /* Bold text */
    text-shadow: none; /* Removing text shadow */
    color: #343434; /* Text color */
    cursor: pointer; /* Changing cursor to pointer on hover */
    margin: 0 auto; /* Centering horizontally */
}

/* Styling for the pseudo-element that represents the toggle switch */
.toggleContainer::before {
    content: ''; /* Adding content to pseudo-element */
    position: absolute; /* Positioning the pseudo-element absolutely */
    width: 50%; /* Setting initial width to 50% */
    height: 100%; /* Setting height to match container */
    left: 0%; /* Initial position */
    border-radius:20px; /* Adding border radius */
    background: #33add1; /* Background color */
    transition: all 0.3s; /* Adding transition for smooth animation */
}

/* Styling for the toggle switch when checked */
.toggleCheckbox:checked + .toggleContainer::before {
    left: 50%; /* Move the pseudo-element to the right */
}

/* Styling for the div elements inside the toggle container */
.toggleContainer div {
    padding: 6px; /* Adding padding */
    text-align: center; /* Centering text horizontally */
    z-index: 1; /* Adding z-index */
}

/* Styling for the toggle checkbox */
.toggleCheckbox {
    display: none; /* Hiding the checkbox */
}

/*        When toggle is checked*/
/* Styling for the first child div when toggle is checked */
.toggleCheckbox:checked + .toggleContainer div:first-child{
    color: white; /* Changing text color */
    transition: color 0.3s; /* Adding transition */
}

/* Styling for the last child div when toggle is checked */
.toggleCheckbox:checked + .toggleContainer div:last-child{
    color: #343434; /* Changing text color */
    transition: color 0.3s; /* Adding transition */
}

/*        When toggle is unchecked*/
/* Styling for the first child div when toggle is not checked */
.toggleCheckbox + .toggleContainer div:first-child{
    color: #343434; /* Changing text color */
    transition: color 0.3s; /* Adding transition */
}

/* Styling for the last child div when toggle is not checked */
.toggleCheckbox + .toggleContainer div:last-child{
    color: white; /* Changing text color */
    transition: color 0.3s; /* Adding transition */
}


/*        TOGGLE FOR GAME.HTML*/
.toggleContainerGame {
    position: relative;
    display: grid; /* Using CSS grid for layout */
    grid-template-columns: repeat(2, 1fr); /* Creating two columns of equal width */
    width: fit-content; /* Adjusting width to fit content */
    border: 3px solid #343434; /* Adding border */
    border-radius: 20px; /* Adding border radius */
    background: #343434; /* Background color */
    font-weight: bold; /* Bold text */
    text-shadow: none; /* Removing text shadow */
    color: #343434; /* Text color */
    cursor: pointer; /* Changing cursor to pointer on hover */
}
/* Styling for the pseudo-element that represents the toggle switch */
.toggleContainerGame::before {
    content: ''; /* Adding content to pseudo-element */
    position: absolute; /* Positioning the pseudo-element absolutely */
    width: 50%; /* Setting initial width to 50% */
    height: 100%; /* Setting height to match container */
    left: 0%; /* Initial position */
    border-radius:20px; /* Adding border radius */
    background: #33add1; /* Background color */
    transition: all 0.3s; /* Adding transition for smooth animation */
}
/* Styling for the toggle switch when checked */
.toggleCheckbox:checked + .toggleContainerGame::before {
    left: 50%; /* Move the pseudo-element to the right */
}

/* Styling for the div elements inside the toggle container */
.toggleContainerGame div {
    padding: 6px; /* Adding padding */
    text-align: center; /* Centering text horizontally */
    z-index: 1; /* Adding z-index */
}

/*        When toggle is checked*/
/* Styling for the first child div when toggle is checked */
.toggleCheckbox:checked + .toggleContainerGame div:first-child{
    color: white; /* Changing text color */
    transition: color 0.3s; /* Adding transition */
}

/* Styling for the last child div when toggle is checked */
.toggleCheckbox:checked + .toggleContainerGame div:last-child{
    color: #343434; /* Changing text color */
    transition: color 0.3s; /* Adding transition */
}

/*        When toggle is unchecked*/
/* Styling for the first child div when toggle is not checked */
.toggleCheckbox + .toggleContainerGame div:first-child{
    color: #343434; /* Changing text color */
    transition: color 0.3s; /* Adding transition */
}

/* Styling for the last child div when toggle is not checked */
.toggleCheckbox + .toggleContainerGame div:last-child{
    color: white; /* Changing text color */
    transition: color 0.3s; /* Adding transition */
}




/*Choice button styling*/
.choice-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.choice-container{
    display: flex;
    justify-content: center;
    width: 100%; /* Take up the full width */
}

.choice-button {
    display: block;
    margin: 20px auto;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    font-family: "VT323", monospace;
    max-height: 100px;
    max-width: 300px;
}

.choice-button:hover {
    background: deepskyblue;
    color: black;
}

.player-stats{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats{
    padding: 20px;
    line-height: 0;
    font-size: 20px;
}

.text-area {
    font-size: 15px;
    width: 800px;
    height: auto;
    background: black;
    overflow: hidden;
    padding: 20px;
}

.game-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 250px;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
    position: relative; /* Ensure proper positioning of child elements */
}

.game-over {
    align-content: center;
}

.game-title{
    text-align: center;
    font-size: 50px;
}

.typewriterIndex {
    color: #fff;
    font-family: "VT323", monospace;
    overflow: hidden;
    letter-spacing: .15em;
    white-space: nowrap;
    animation:
        typingTitle 3.5s steps(30, end),
        blink-caret .5s step-end infinite,
        textShadow 5s infinite,
        flicker 5s infinite;
    animation-fill-mode: forwards;
    text-align: center; /* Add this line */
}

.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    letter-spacing: .15em;
    white-space: pre-wrap;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: green;
    }
}


@keyframes typingTitle {
    0% {
        width: 0;
        margin: 0 auto; /* Center the text */
    }
    100% {
        width: 100%;
        margin: 0 auto; /* Reset margin */
    }
}