<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tavern Tales</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="script.js"></script>
</head>
<body>
<input type="hidden" id="animationsEnabled" th:value="${animationsEnabled}" />

<div class="container">

<!--    Player stats-->
    <div class="player-stats">
        <p th:text="'HP: ' + ${player.hp}" class="stats"></p>
        <p th:text="'Coin: ' + ${player.coin}" class="stats"></p>
        <p th:text="'Weapon: ' + ${player.currentWeapon.name}" class="stats"></p>
    </div>

<!--Title-->
    <h1 class="game-title">Tavern Tales</h1>

    <div class="game-container" th:if="${imagePath != null}"
         th:style="'background-image: url(' + ${imagePath} + ')'">
    </div>

        <!--Text-display styling-->
        <div class="text-area">
            <!-- Displays Game Over text if player HP falls below 0-->
            <div th:if="${player.getHp() <= 0}"><h1 class="game-over">GAME OVER</h1></div>

            <!--Where main game text will be displayed-->
            <div class="typewriter hidden" th:text="${mainTextArea}"></div>
            <br>


    <div class="user-input">
        <form method="post" action="/choice">
            <input type="text" class="user-field" name="userInput" th:value="${userInput}" alt="Input action here">
            <input type="hidden" name="choice" value="start">
            <input type="submit" style="display: none;">
        </form>
    </div>

        </div>





    <!--Choice button styling-->
    <div class="choice-wrapper">
        <div class="choice-container">
            <!--choice button code-->
            <div th:each="choice, choiceStat : ${choices}">
                 <form method="post" action="/choice">
                    <button class="choice-button" type="submit" name="choice" th:value="${choices[choiceStat.index]}" th:text="${choice}">
                    <span th:text="${choices[choiceStat.index]}"></span>
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>

</body>
</html>
