<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tavern Tales</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/monitor.css" />
    <link rel="stylesheet" href="/animation.css" />
    <script src="script.js"></script>
</head>
<body>
<!--Body of page placement-->
<div class="container">

   <!-- Title display area-->
    <div class="title-area">
        <img src="/images/tavern-pixel-art.gif" />
        <h1>Tavern Tales</h1>

        <!--start button-->
        <form action="/start" method="get">
            <button class="start-button" type="submit">START</button>
        </form>

        <!--author text-->
        <p class="typewriterIndex"> A game by NekoCho</p>
    </div>
</div>


</body>
</html>
