<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tavern Tales</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/monitor.css" />
    <link rel="stylesheet" href="/animation.css" />
    <script src="script.js"></script>
</head>
<body>

<div class="container">
    <div class="title-area">
        <h1 class="typewriter">Tavern Tales</h1>
    </div>
    <form action="/start" method="get">
        <button class="start-button" type="submit">START</button>
    </form>
</div>


</body>
</html>
