<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tavern Tales</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/monitor.css" />
    <link rel="stylesheet" href="/animation.css" />
    <script src="script.js"></script>
</head>
<body>
<input type="hidden" id="animationsEnabled" th:value="${animationsEnabled}" />
<!--Body of page placement-->
<div class="container">

   <!-- Title display area-->
    <div class="title-area">
        <img src="/images/tavern-pixel-art.gif" />
        <h1>Tavern Tales</h1>

        <!--start button-->
        <form action="/start" method="get">
            <button class="start-button" type="submit">START</button>
            <p class="toggleQuestion">Would you like to switch on animations?</p>
            <div class="sr-only">We would recommend leaving animations off for screen readers</div>
            <input name="animationsEnabled" type="checkbox" id="toggle" class="toggleCheckbox" />
            <label for="toggle" class='toggleContainer' role="switch">
                <div>No</div>
                <div>Yes</div>
            </label>
        </form>

        <!--author text-->
        <br>
        <p class="typewriterIndex"> A game by NekoCho</p>
    </div>
</div>


</body>
</html>
